* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #d6a41e;
  --white: #ffffff;
  --black: #000;
  --blue: #080644;
}
a {
  text-decoration: none;
  color: black;
}

body {
  background: #fff url('../img/car.jpg') center center/cover no-repeat fixed;

  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

.main-container-1 {
  display: flex;
  gap: 5%;
  padding: 2%;
}
.cont-2 {
  display: flex;
  gap: 3em;
}

.main-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--blue);
  margin-bottom: 10%;
  gap: 2em;
}

.main-container-2 {
  display: flex;
}
.input-bar {
  padding: 3px;
}
.form-container {
  background-color: var(--white);
  color: var(--black);
  padding: 2%;

  align-items: center;
  margin: 2% 15%;
}
.form-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#calculate {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.right-container {
  text-align: right;
  padding: 2% 5%;
}

.select-category {
  padding: 2px 95px 2px 2px;
}
#calculate {
  text-align: center;
  padding: 5% 20%;
}

.fa-light {
  color: var(--blue);
}

.min-heading {
  padding: 0.5em 1em;
}
.min-heading:hover {
  color: var(--yellow);
}
.icon-bar {
  height: 50px;
  width: 100px;
}
.sub-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  gap: 1em;
}
.side-container {
  background-color: var(--yellow);
  color: var(--black);
  transform: rotate(270deg);
  position: absolute;
  top: 35%;
  left: -30px;
  padding: 0.8%;
}

.result-container {
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.628);
  width: 80%;
  margin: 0 auto;
}

.sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}
.sec3 {
  flex-direction: column;
  gap: 1em;
}

.subsec {
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  border: 2px solid var(--yellow);
  max-width: 80%;
  margin: 0 auto;
}

.container {
  height: 100vh;
}

.fareMore {
  display: none;

  justify-content: space-between;
  font-size: 0.9em;
  align-items: center;
}
.subFareMore {
  display: flex;
  align-items: center;

  gap: 0.1em;
}
.fare::after {
  content: '>';
  margin: 0 5px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 0.85em;
}
@media only screen and (max-width: 426px) {
  .sub-container {
    display: none;
  }
}
